/Temp
/Library
/Assets/SteamVR
/Assets/VRTK
/Assets/Plugins.meta
/Assets/SteamVR.meta
/Assets/VRTK.meta
/Assets/Plugins
/steam_appid.txt
/Builds
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp.csproj
/.vscode
/Assets/Editor
/Assets/Editor.meta
/netVRk.sln
/Assets/Scripts
/Assets/Scripts.meta
